node_modules
.DS_Store
dist
dist-ssr
*.local
.vscode/
.idea/
qrcodes/
backend/node_modules/
backend/.env
backend/package-lock.json
src/node_modules/
backend/node_modules/
backend/.env
backend/package-lock.json